.box{
    line-height: 2rem;
    .count{
        .number{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 1.8rem;
        }
    }
    .text{
        font-family:cursive;
        font-weight: 800;
        font-size: 1.5rem;
    }
}
@media only screen and (max-width : 567px) {
  .box{
    width: 50%;
  } 
}
@media only screen and (max-width : 768px) {
  .box{
    width: 50%;
  } 
}

