.box{
    padding: none !important;
    margin-top: 0.4rem !important;
    width: 25%;
    .body{
        transform: translateY(-3rem);
    }
    img{
        width: 100%;
        height: 50%;
        height: 350px;
    }
    .readMore{
        text-decoration: none;
        &:hover{
            color: #0000007c !important;
        }
    }
    .desc{
        color: #0000007c;
    }
}


@media only screen and (max-width : 912px){
    .box{
        width: 45%;
        height: 470px;
        .body{
            transform: translateY(-3rem) ;
        }
    }
}
@media only screen and (max-width : 768px){
    .box{
        width: 45%;
        height: 470px;
        .body{
            transform: translateY(-3rem) ;
        }
    }
}
    
    @media only screen and (max-width : 567px){
        
        .box{
            width: 100% ;
            height: 430px ;
            img{
                height: 70% ;
            }
            width: 95%;
            height: 450px;
            .body{
            transform: translateY(-3.5rem) !important;
            }
        }
    }
