.marigold {
  .heading {
    font-family: "Satisfy", cursive;
  }
  section.firstSec {
    color: #fff !important;
    background-image: url(https://i.pinimg.com/originals/a6/13/16/a613161ad7891d6a1a9085fda7cd279d.jpg);
    header {
      color: #fff !important;
      padding: 1em !important;
    }
    height: 85vh;
    .main {
      height: 100%;
      display: flex;
      padding-top: 5.5em;
      flex-direction: column;
      align-items: center;
    }

    .title {
      text-transform: uppercase;
      font-weight: 400;
      font-size: 2.4em;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    }
    .desc {
      color: #ffffffb1;
      margin-top: 0.6em;
    }
    .readMore {
      margin-top: 3em;
      background: transparent;
      padding: 0.8rem 2rem;
      font-size: 0.9em;
      transition: 0.4s ease;
      color: #fff;
      border: 1px solid;
      border-radius: 4px;
      &:hover {
        transition: 0.4s ease;
        background: #fff;
        border: none;
        color: #333 !important;
      }
    }
  }
  section.secondSec {
    padding: 4em;
    .flowers {
      gap: 0.6em;
      margin-top: 2em;
      img {
        margin-top: 1.4em;
        height: 300px;
        object-fit: cover !important;
        width: 34% !important;
        transition: 0.4s ease;
        &:hover {
          transform: scale(1.03);
        }
      }
    }
  }
}

@media only screen and (max-width: 1400px) {
}
@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 992px) {
  .marigold {
    section.firstSec {
      height: 50vh;
    }
  }
}
@media only screen and (max-width: 768px) {
  .marigold {
    section.firstSec {
      height: 60vh;
    }
    section.secondSec {
      .flowers {
        flex-direction: row;
        transform: translateX(-2em);
        img {
          width: 35% !important;
        }
      }
    }
  }
}
@media only screen and (max-width: 567px) {
  .marigold {
    section.firstSec {
      height: 60vh;
      color: #fff !important;
      background-image: url(https://upload.wikimedia.org/wikipedia/commons/6/62/French_Marigold_--_October_Birthday_Flower_--_Tagetes_patula.jpg) !important;

      .main {
        padding-top: 6em 3em;
        .heading {
          font-size: 2em;
        }
        .title {
          font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
            sans-serif !important;
          font-size: 1.3em;
        }
        .readMore {
          font-size: large;
        }
        .desc {
          display: none;
        }
      }
    }
    section.secondSec {
      .flowers {
        transform: translateX(0.5em);
        flex-direction: column;
        img {
          width: 100% !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  .marigold {
    section.firstSec {
      height: 80vh;
      .main {
        .heading {
          font-size: 1.2em;
        }
        .title {
          font-size: 1.2em;
        }
      }
    }
  }
}
